<center><br>
Welcome!
<br></center>

<center><form method = "post" action = "number_of_students">
  <label for="quantity">How many students are in the class today?<br> </label><input name="quantity" type="number" value="0" min = "0"/>
  <input type="submit" value="Enter Names">
</form></center>