<link rel="stylesheet" href = "css/style.css">


<center><p>How many people are in class today?</p>

<input type="nubmer" id="myInput" min="3" oninput="myFunction()">
<form method = "post" action = "names" id= "text_box">
<p id="demo"></p>

<script src = "js/auto_box.js"></script>

<p>If you would like to add more people to the list,<br> click the plus sign</p><br>
<input type='button' value='+' class='qtyplus' field='quantity' onclick="myFunction2()" />
<br>
<br>
<input type = "submit">
</form></center>

<! set contents of boxes to variable and the set that to quantity>
