<link rel="stylesheet" href = "css/style.css">


<center><p>How many people are in class today?</p>

<input type="nubmer" id="myInput" oninput="myFunction()" >
<form method = "post" action = "names" id= "text_box">
<p id="demo"></p>

<script src = "js/auto_box.js"></script>

<br>
<input type = "submit">
</form></center>

<! set contents of boxes to variable and the set that to quantity>